@use "./variables";
@use "../animation/movement";
@use "sass:color";

.colored-background {
    @include variables.css-variable('background-color', 'splash-background');
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.main-grid {
    width: 100%;
    @include variables.css-variable('background-color', 'primary-background');
    text-align: center;
    margin: variables.rem(20px);
    border-radius: variables.rem(3px);
    box-shadow: variables.$slight-shadow;
}

.main-grid__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.main-grid__titles {
    font-family: variables.$header-font;

    h1 {
        opacity: 0;
        margin: 0;
        font-weight: bold;
        font-size: variables.rem(42px);
        animation: 1s fadeUp 0.25s forwards ease;
    }

    h2 {
        opacity: 0;
        font-weight: normal;
        animation: 1s fadeUp 0.5s forwards ease;
    }
}

.main-grid__link-section {
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: 1s fadeUp 0.75s forwards ease;
}

.main-grid__link {
    display: block;
    background-color: transparent;
    border: variables.rem(3px) solid variables.$splash-background;
    padding: variables.rem(10px);
    border-radius: variables.rem(3px);
    @include variables.css-variable('color', 'font-color');
    font-size: variables.rem(20px);
    text-decoration: none;
    transition: border-color 0.25s ease, background-color 0.25s ease;

    &:hover {
        border-color: color.scale(
            variables.$splash-background,
            $lightness: -20%
        );
        @include variables.css-variable('background-color', 'green-hover');
    }
}

// .main-grid__link--github {
//     margin-right: variables.rem(20px);
// }

// Let's be considerate
@media (prefers-reduced-motion: reduce) {
    .main-grid__titles h1,
    .main-grid__titles h2,
    .main-grid__link-section {
        opacity: 1;
        animation: none;
    }
}

@media (max-width: 1023px) {
    .main-grid {
        padding: variables.rem(15px);
    }

    .main-grid__titles h1 {
        font-size: variables.rem(38px);
    }
}
