@use "./variables";

body {
    background-color: green;
    min-height: 93vh;
    display: flex;
    justify-content: center;
    padding: variables.rem(20px);
}

.main-grid {
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.main-grid__text {
    --main-grid-columns: repeat(2, 1fr);
    display: grid;
    grid-template-columns: var(--main-grid-columns);
    align-content: center;
    height: 100%;
}

.main-grid__titles {
    grid-column: 1 / -1;

    h1 {
        margin: 0;
    }
}
