@use "./variables";

.colored-background {
    @include variables.css-variable('background-color', 'splash-background');
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.main-grid {
    width: 100%;
    @include variables.css-variable('background-color', 'primary-background');
    text-align: center;
    margin: variables.rem(20px);
    border-radius: variables.rem(3px);
}

.main-grid__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.main-grid__titles {
    font-family: variables.$header-font;

    h1 {
        margin: 0;
        font-weight: bold;
    }

    h2 {
        font-weight: normal;
    }
}

.main-grid__link-section {
    display: flex;
    justify-content: center;
}

.main-grid__link {
    display: block;
}

.main-grid__link--github {
    margin-right: variables.rem(20px);
}
