@use "./variables";
@use "../animation/movement";

.theme-toggle {
    position: absolute;
    top: variables.rem(20px);
    right: variables.rem(50px);
    opacity: 0;
    animation: 1s fadeUp 0.75s forwards ease;

    @media (prefers-reduced-motion: reduce) {
        animation: none;
        opacity: 1;
    }
}

.moon-svg {
    width: variables.rem(30px);
    cursor: pointer;
}

.moon-svg__path {
    fill: #fff;
    stroke: variables.$font-color;
    transition: fill 0.3s ease, stroke 0.3s ease;
}

// Hide the input, but not from screen readers
.theme-toggle__checkbox {
    position: absolute;
    top: auto;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: variables.rem(1px);
    height: variables.rem(1px);
    white-space: nowrap;
}

.theme-toggle__slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    border-radius: variables.rem(3px);

    &::before {
        background-color: #fff;
        bottom: variables.rem(4px);
        content: '';
        height: variables.rem(26px);
        left: variables.rem(4px);
        position: absolute;
        transition: 0.4s;
        width: variables.rem(26px);
        border-radius: variables.rem(3px);
    }
}

.theme-toggle__checkbox:checked + .theme-toggle__label .moon-svg__path {
    fill: variables.$splash-background;
    stroke: variables.$darker-splash;
}
