@use "./variables";
@use "../animation/movement";

.theme-toggle {
    display: none;
    position: absolute;
    top: variables.rem(20px);
    right: variables.rem(50px);
    opacity: 0;
    animation: 1s fadeUp 0.75s forwards ease;

    @media (prefers-reduced-motion: reduce) {
        animation: none;
        opacity: 1;
    }
}

.theme-toggle--javascript {
    display: block;
}

.moon-svg {
    width: variables.rem(30px);
    cursor: pointer;
}

.moon-svg__path {
    fill: #fff;
    stroke: variables.$font-color;
    transition: fill 0.3s ease, stroke 0.3s ease;
}

// Hide the input, but not from screen readers
.theme-toggle__checkbox {
    position: absolute;
    top: auto;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: variables.rem(1px);
    height: variables.rem(1px);
    white-space: nowrap;
}

.theme-toggle__checkbox:checked + .theme-toggle__label .moon-svg__path {
    fill: variables.$splash-background;
    stroke: none;
}
